{% extends "web/base.html" %}
{% load static %}

{% block content %}
<main class="main">
  <section class="section-box">
    <div class="breacrumb-cover bg-img-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="mb-10">About Us</h2>
            <p class="font-lg color-text-paragraph-2">Get the latest news, updates and tips</p>
          </div>
          <div class="col-lg-6 text-lg-end">
            <ul class="breadcrumbs mt-40">
              <li><a class="home-icon" href="{% url 'web:index' %}">Home</a></li>
              <li>About Us</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-box mt-50">
    <div class="post-loop-grid">
      <div class="container">
        <div class="text-center">
          <h6 class="f-18 color-text-mutted text-uppercase">Our company</h6>
          <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">About Our Company</h2>
          <p class="font-sm color-text-paragraph wow animate__animated animate__fadeInUp w-lg-50 mx-auto">We give you, what you want Ensuring atmost quality content by experienced developers. Healthy ambience with top-notch and fresh minded professionals. Makes your savings simpler with our budget friendly scheme.Round -the-clock services across the world. </p>
        </div>
        <div class="row mt-70">
          <div class="col-lg-6 col-md-12 col-sm-12"><img src="{% static 'assets/imgs/page/about/img-about2.png' %}" alt="fiveM"></div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <h3 class="mt-15">What we can do?</h3>
            <div class="mt-20">
              <p class="font-md color-text-paragraph mt-20">We give you, what you want Ensuring atmost quality content by experienced developers. Healthy ambience with top-notch and fresh minded professionals.</p>
              <p class="font-md color-text-paragraph mt-20"> Makes your savings simpler with our budget friendly scheme.Round -the-clock services across the world. Float to new heights with innovative trend setting ideas.</p>
              <p class="font-md color-text-paragraph mt-20"> Heighten your business across the world We help you to move with time. We are creating an ideal platform based on customer satisfaction enabling you to sail through victory.</p>
              <p class="font-md color-text-paragraph mt-20"> We are technology experts. We help clients to accomplish their wish of creating a promising future, with the best use of our skill and technology. Your dream is our Vision and our Mission is 'Technology for Everyone'.We are technology experts.With the best use of our skill and technology. Your dream is our Vision and our Mission is 'Technology for Everyone'.</p>
            </div>
            <div class="mt-30"><a class="btn btn-brand-1" href="#">Read More</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-box mt-80">
    <div class="post-loop-grid">
      <div class="container">
        <div class="text-center">
          <h6 class="f-18 color-text-mutted text-uppercase">Our company</h6>
          <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">Meet Our Team</h2>
          <p class="font-sm color-text-paragraph w-lg-50 mx-auto wow animate__animated animate__fadeInUp">.We are technology experts.With the best use of our skill and technology. Your dream is our Vision and our Mission is 'Technology for Everyone'.We give you, what you want Ensuring atmost quality content by experienced developers.</p>
        </div>
        <div class="row mt-70">
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
            <div class="card-grid-4 text-center hover-up">
              <div class="image-top-feature">
                <figure><img alt="fiveM" src="{% static 'assets/imgs/page/about/team1.png' %}"></figure>
              </div>
              <div class="card-grid-4-info">
                <h5 class="mt-10">Sabeel K M</h5>
                <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Full Stack Developer</p>
                <div class="rate-reviews-small pt-5"><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
            <div class="card-grid-4 text-center hover-up">
              <div class="image-top-feature">
                <figure><img alt="fiveM" src="{% static 'assets/imgs/page/about/team2.png' %}"></figure>
              </div>
              <div class="card-grid-4-info">
                <h5 class="mt-10">Floyd Mile</h5>
                <p class="font-xs color-text-paragraph-2 mt-5 mb-5">UI/UX Designer</p>
                <div class="rate-reviews-small pt-5"><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>28</span><span>)</span></span></div><span class="card-location">Chicago, US</span>
                <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
            <div class="card-grid-4 text-center hover-up">
              <div class="image-top-feature">
                <figure><img alt="fiveM" src="{% static 'assets/imgs/page/about/team3.png' %}"></figure>
              </div>
              <div class="card-grid-4-info">
                <h5 class="mt-10">Devon Lane</h5>
                <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                <div class="rate-reviews-small pt-5"><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
            <div class="card-grid-4 text-center hover-up">
              <div class="image-top-feature">
                <figure><img alt="fiveM" src="{% static 'assets/imgs/page/about/team4.png' %}"></figure>
              </div>
              <div class="card-grid-4-info">
                <h5 class="mt-10">Jerome Bell</h5>
                <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                <div class="rate-reviews-small pt-5"><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
            <div class="card-grid-4 text-center hover-up">
              <div class="image-top-feature">
                <figure><img alt="fiveM" src="{% static 'assets/imgs/page/about/team5.png' %}"></figure>
              </div>
              <div class="card-grid-4-info">
                <h5 class="mt-10">Theresa</h5>
                <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                <div class="rate-reviews-small pt-5"><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
            <div class="card-grid-4 text-center hover-up">
              <div class="image-top-feature">
                <figure><img alt="fiveM" src="{% static 'assets/imgs/page/about/team6.png' %}"></figure>
              </div>
              <div class="card-grid-4-info">
                <h5 class="mt-10">Cameron</h5>
                <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                <div class="rate-reviews-small pt-5"><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
            <div class="card-grid-4 text-center hover-up">
              <div class="image-top-feature">
                <figure><img alt="fiveM" src="{% static 'assets/imgs/page/about/team7.png' %}"></figure>
              </div>
              <div class="card-grid-4-info">
                <h5 class="mt-10">Jacob Jones</h5>
                <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                <div class="rate-reviews-small pt-5"><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
            <div class="card-grid-4 text-center hover-up">
              <div class="image-top-feature">
                <figure><img alt="fiveM" src="{% static 'assets/imgs/page/about/team8.png' %}"></figure>
              </div>
              <div class="card-grid-4-info">
                <h5 class="mt-10">Court Henry</h5>
                <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                <div class="rate-reviews-small pt-5"><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span><img src="{% static 'assets/imgs/template/icons/star.svg' %}" alt="fiveM"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section-box mt-30 mb-40">
    <div class="container">
      <h2 class="text-center mb-15 wow animate__animated animate__fadeInUp">Our Happy Customer</h2>
      <div class="font-lg color-text-paragraph-2 text-center wow animate__animated animate__fadeInUp">When it comes to choosing the right web hosting provider, we know how easy it<br class="d-none d-lg-block"> is to get overwhelmed with the number.</div>
      <div class="row mt-50">
        <div class="box-swiper">
          <div class="swiper-container swiper-group-3 swiper">
            <div class="swiper-wrapper pb-70 pt-5">
              <div class="swiper-slide">
                <div class="card-grid-6 hover-up">
                  <div class="card-text-desc mt-10">
                    <p class="font-md color-text-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae neque metus. Vivamus consectetur ultricies commodo. Pellentesque at nisl sit amet neque finibus egestas ut at magna. Cras tincidunt tortor sed eros aliquam eleifend.</p>
                  </div>
                  <div class="card-image">
                    <div class="image">
                      <figure><img alt="fiveM" src="{% static 'assets/imgs/page/about/user1.png' %}"></figure>
                    </div>
                    <div class="card-profile">
                      <h6>Mark Adair</h6><span>Businessmen</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card-grid-6 hover-up">
                  <div class="card-text-desc mt-10">
                    <p class="font-md color-text-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae neque metus. Vivamus consectetur ultricies commodo. Pellentesque at nisl sit amet neque finibus egestas ut at magna. Cras tincidunt tortor sed eros aliquam eleifend.</p>
                  </div>
                  <div class="card-image">
                    <div class="image">
                      <figure><img alt="fiveM" src="{% static 'assets/imgs/page/about/user2.png' %}"></figure>
                    </div>
                    <div class="card-profile">
                      <h6>Mark Adair</h6><span>Businessmen</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card-grid-6 hover-up">
                  <div class="card-text-desc mt-10">
                    <p class="font-md color-text-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae neque metus. Vivamus consectetur ultricies commodo. Pellentesque at nisl sit amet neque finibus egestas ut at magna. Cras tincidunt tortor sed eros aliquam eleifend.</p>
                  </div>
                  <div class="card-image">
                    <div class="image">
                      <figure><img alt="fiveM" src="{% static 'assets/imgs/page/about/user3.png' %}"></figure>
                    </div>
                    <div class="card-profile">
                      <h6>Mark Adair</h6><span>Businessmen</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination swiper-pagination3"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
