{% extends "dashboard/base.html" %}
{% load static %}
{% load main_template_tags %}

{% block content %}
<div class="row"> 
  <div class="col-xxl-12 col-xl-12 col-lg-12">
    <div class="section-box">
      <div class="row"> 
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-4 col-sm-6"> 
          <div class="card-style-1 hover-up">
            <div class="card-image"> 
              <img src="{% static 'dashboard/assets/imgs/page/dashboard/computer.svg' %}" alt="fiveM" />
            </div>
            <div class="card-info"> 
              <div class="card-title">
                <h3>{{jobs_count}}<span class="font-sm status up"> - </span>
                </h3>
              </div>
              <p class="color-text-paragraph-2">My Jobs</p>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-4 col-sm-6">
          <div class="card-style-1 hover-up">
            <div class="card-image"> 
              <img src="{% static 'dashboard/assets/imgs/page/dashboard/doc.svg' %}" alt="fiveM" />
            </div>
            <div class="card-info"> 
              <div class="card-title">
                <h3>{{requested_count}}<span class="font-sm status up"> - </span>
                </h3>
              </div>
              <p class="color-text-paragraph-2">Requested Jobs</p>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-4 col-sm-6">
          <div class="card-style-1 hover-up">
            <div class="card-image"> 
              <img src="{% static 'dashboard/assets/imgs/page/dashboard/open-file.svg' %}" alt="fiveM" />
            </div>
            <div class="card-info"> 
              <div class="card-title">
                <h3>{{pending_request_count}}<span class="font-sm status up"> - </span>
                </h3>
              </div>
              <p class="color-text-paragraph-2">Pending Requests</p>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-4 col-sm-6">
          <div class="card-style-1 hover-up">
            <div class="card-image"> 
              <img src="{% static 'dashboard/assets/imgs/page/dashboard/headphone.svg' %}" alt="fiveM" />
            </div>
            <div class="card-info"> 
              <div class="card-title">
                <h3>{{approved_request_count}}<span class="font-sm status up"> - </span>
                </h3>
              </div>
              <p class="color-text-paragraph-2">Approved Requests</p>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-4 col-sm-6">
          <div class="card-style-1 hover-up">
            <div class="card-image"> 
              <img src="{% static 'dashboard/assets/imgs/page/dashboard/red-headphone.svg' %}" alt="fiveM" />
            </div>
            <div class="card-info"> 
              <div class="card-title">
                <h3>{{declined_request_count}}<span class="font-sm status up-red"> - </span>
                </h3>
              </div>
              <p class="color-text-paragraph-2">Declined Requests</p>
            </div>
          </div>
        </div>
        <!-- <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-4 col-sm-6">
          <div class="card-style-1 hover-up">
            <div class="card-image"> 
              <img src="{% static 'dashboard/assets/imgs/page/dashboard/lamp.svg' %}" alt="fiveM" />
            </div>
            <div class="card-info"> 
              <div class="card-title">
                <h3>136<span class="font-sm status up"> - </span>
                </h3>
              </div>
              <p class="color-text-paragraph-2">Task Bids Won</p>
            </div>
          </div>
        </div>
        
        
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-4 col-sm-6">
          <div class="card-style-1 hover-up">
            <div class="card-image"> 
              <img src="{% static 'dashboard/assets/imgs/page/dashboard/look.svg' %}" alt="fiveM" />
            </div>
            <div class="card-info"> 
              <div class="card-title">
                <h3>2356<span class="font-sm status down">- 2%</span>
                </h3>
              </div>
              <p class="color-text-paragraph-2">New Messages</p>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-4 col-sm-6">
          <div class="card-style-1 hover-up">
            <div class="card-image"> 
              <img src="{% static 'dashboard/assets/imgs/page/dashboard/bank.svg' %}" alt="fiveM" />
            </div>
            <div class="card-info"> 
              <div class="card-title">
                <h3>254<span class="font-sm status up">2<span>%</span></span>
                </h3>
              </div>
              <p class="color-text-paragraph-2">Articles Added</p>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-4 col-sm-6">
          <div class="card-style-1 hover-up">
            <div class="card-image"> 
              <img src="{% static 'dashboard/assets/imgs/page/dashboard/man.svg' %}" alt="fiveM" />
            </div>
            <div class="card-info"> 
              <div class="card-title">
                <h3>548<span class="font-sm status up">48<span>%</span></span>
                </h3>
              </div>
              <p class="color-text-paragraph-2">CV Added</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block static %}
{% load static %}

{% endblock %}