{% extends "web/base.html" %}
{% load static %}
{% load main_template_tags %}

{% block content %}
  <main class="main">
    <section class="section-box-2">
      <div class="container">
        <div class="banner-hero banner-image-single"><img src="{% static 'assets/imgs/page/candidates/img.png' %}" alt="fiveM">
          <!-- <a class="btn-editor" href="#"></a> -->
        </div>
        <div class="box-company-profile">
          <div class="image-compay">
            {% if profile.file %}
              <img alt="profile" id="bannerProfile" src="{{ profile.file.url }}">
            {% else %}
              <img alt="profile" id="bannerProfile" src="https://avatar.oxro.io/avatar.svg?name={{profile.name | default:'User'}}&background=3c65f5&caps=3&bold=true">
            {% endif %}
          </div>
          <div class="row mt-10">
            <div class="col-lg-8 col-md-12">
              <h5 class="f-18">
                {{ profile.name|default:'-' }} 
                <span class="card-location font-regular ml-20">{{ profile.address|default:'-' }}</span>
              </h5>
              <p class="mt-0 font-md color-text-paragraph-2 mb-15">UI/UX Designer. Front end Developer</p>
            </div>
            <!-- <div class="col-lg-4 col-md-12 text-lg-end"><a class="btn btn-preview-icon btn-apply btn-apply-big" href="">Preview</a></div> -->
          </div>
        </div>
        <div class="border-bottom pt-10 pb-10"></div>
      </div>
    </section>
    <section class="section-box mt-50">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="box-nav-tabs nav-tavs-profile mb-5">
              <ul class="nav" role="tablist">
                <li>
                  <a class="btn btn-border aboutus-icon mb-20 active" href="#tab-my-profile" data-bs-toggle="tab" role="tab" aria-controls="tab-my-profile" aria-selected="true">My Profile</a>
                </li>
                <li>
                  <a class="btn btn-border recruitment-icon mb-20" href="#tab-my-jobs" data-bs-toggle="tab" role="tab" aria-controls="tab-my-jobs" aria-selected="false">Applied Jobs</a>
                </li>
                <li>
                  <a class="btn btn-border people-icon mb-20" href="#tab-saved-jobs" data-bs-toggle="tab" role="tab" aria-controls="tab-saved-jobs" aria-selected="false">Saved Jobs</a>
                </li>
              </ul>
              <div class="border-bottom pt-10 pb-10"></div>
              <div class="mt-20 mb-20">
                <a class="link-red" href="#">Delete Account</a>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-12 col-12 mb-50">
            <div class="content-single">
              <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-my-profile" role="tabpanel" aria-labelledby="tab-my-profile">
                  <h3 class="mt-0 mb-15 color-brand-1">My Account</h3><a class="font-md color-text-paragraph-2" href="#">Update your profile</a>
                  <div class="mt-35 mb-40 box-info-profie">
                    <form action="{% url 'users:photo_upload' %}" method="post" enctype="multipart/form-data" id="formUpload">
                      {% csrf_token %}
                      <div class="image-profile">
                        {% if profile.file %}
                          <img alt="profile" id="avatar" src="{{ profile.file.url }}">
                        {% else %}
                          <img alt="profile" id="avatar" src="https://avatar.oxro.io/avatar.svg?name={{profile.name | default:'User'}}&background=3c65f5&caps=3&bold=true">
                        {% endif %}
                      </div>
                      {{ photoForm }}

                      <a title="Delete Avatar" href="{% url 'users:delete_avatar' %}" class="action-button no-popup reload btn btn-link" data-id="" data-text="{{confirm_delete_message}}" data-title="Are you sure?">Delete</a>
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                      </div>
                      <div class="alert" role="alert"></div>
                    </form>

                    <div class="modal fade" id="modalCrop" tabindex="-1" role="img" aria-labelledby="modalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="img-container">
                              <img id="cropImage" src="">
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="crop">Crop</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% include 'users/includes/profile-form.html' %}
                 
                </div>
                <div class="tab-pane fade" id="tab-my-jobs" role="tabpanel" aria-labelledby="tab-my-jobs">
                  <h3 class="mt-0 color-brand-1 mb-50">Applied Jobs</h3>
                  <div class="row display-list">
                    {% for instance in applied_jobs %}
                      <div class="col-xl-12 col-12">
                        <div class="card-grid-2 hover-up">
                          <span class="flash"></span>
                          <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                              <div class="card-grid-2-image-left">
                                <div class="image-box">
                                  {% if instance.profile.file %}
                                    <img alt="profile" id="avatar" src="{{ instance.profile.file.url }}">
                                  {% else %}
                                    <img alt="profile" id="avatar" src="https://avatar.oxro.io/avatar.svg?name={{instance.profile.name | default:'User'}}&background=3c65f5&caps=3&bold=true">
                                  {% endif %}
                                </div>
                                <div class="right-info">
                                  <a class="name-job" href="{% url 'web:job_details' pk=instance.job.pk %}">{{ instance.profile.name }}</a>
                                  <span class="location-small">{{instance.job.state}}, {{instance.job.country}}</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6 text-start text-md-end pr-60 col-md-6 col-sm-12">
                              <div class="pl-15 mb-15 mt-30">
                                {% for i in instance.job.skills|comma_separator %}
                                  <b class="btn btn-grey-small mr-5">{{i}}</b>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                          <div class="card-block-info">
                            <h4><a href="{% url 'web:job_details' pk=instance.job.pk %}">{{ instance.job.job_title }}</a></h4>
                            <div class="mt-5">
                              <span class="card-briefcase">
                                {% if instance.job.job_type == 'freelancer' %}
                                  Freelancer
                                {% else %}
                                  Fulltime
                                {% endif %}
                              </span>
                              <span class="card-time">{{ instance.job.post_date|time_until }}</span>
                            </div>
                            <p class="font-sm color-text-paragraph mt-10">{{instance.job.short_description}}</p>
                            <div class="card-2-bottom mt-20">
                              <div class="row">
                                <div class="col-lg-7 col-7">
                                  <span class="card-text-price">${{ instance.job.amnt_start_per_hrs|to_int }} - ${{ instance.job.amnt_end_per_hrs|to_int }}</span>
                                  <span class="text-muted">/hour</span>
                                </div>
                                <div class="col-lg-5 col-5 text-end">
                                  {% if instance.status == 'approved' %}
                                    <strong class="btn btn-apply-now-green"> Approved </strong>
                                  {% elif instance.status == 'declined' %}
                                    <strong class="btn btn-apply-now-red"> Declined </strong>
                                  {% else %}
                                    <strong class="btn btn-apply-now" > Pending </strong>
                                  {% endif %}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  <!-- <div class="paginations">
                    <ul class="pager">
                      <li><a class="pager-prev" href="#"></a></li>
                      <li><a class="pager-number" href="#">1</a></li>
                      <li><a class="pager-number" href="#">2</a></li>
                      <li><a class="pager-number" href="#">3</a></li>
                      <li><a class="pager-number" href="#">4</a></li>
                      <li><a class="pager-number" href="#">5</a></li>
                      <li><a class="pager-number active" href="#">6</a></li>
                      <li><a class="pager-number" href="#">7</a></li>
                      <li><a class="pager-next" href="#"></a></li>
                    </ul>
                  </div> -->
                </div>
                <div class="tab-pane fade" id="tab-saved-jobs" role="tabpanel" aria-labelledby="tab-saved-jobs">
                  <h3 class="mt-0 color-brand-1 mb-50">Saved Jobs</h3>
                  <div class="row"> 
                    {% for instance in saved_jobs %}
                      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="card-grid-2 hover-up">
                          <div class="card-grid-2-image-left">
                            <span class="flash"></span>
                            <div class="image-box">
                              {% if instance.profile.file %}
                                <img alt="profile" id="avatar" src="{{ instance.profile.file.url }}">
                              {% else %}
                                <img alt="profile" id="avatar" src="https://avatar.oxro.io/avatar.svg?name={{instance.profile.name | default:'User'}}&background=3c65f5&caps=3&bold=true">
                              {% endif %}
                            </div>
                            <div class="right-info">
                              <a class="name-job" href="{% url 'web:job_details' pk=instance.job.pk %}">{{ instance.profile.name }}</a>
                              <span class="location-small">{{instance.job.state}}, {{instance.job.country}}</span>
                            </div>
                          </div>
                          <div class="card-block-info">
                            <h6><a href="{% url 'web:job_details' pk=instance.job.pk %}">{{ instance.job.job_title }}</a></h6>
                            <div class="mt-5">
                              <span class="card-briefcase">
                                {% if instance.job.job_type == 'freelancer' %}
                                  Freelancer
                                {% else %}
                                  Fulltime
                                {% endif %}
                              </span>
                              <span class="card-time">{{ instance.job.post_date|time_until }}</span>
                          </div>
                          <p class="font-sm color-text-paragraph mt-15">{{instance.job.short_description}}</p>
                            <div class="mt-30">
                              {% for i in instance.job.skills|comma_separator %}
                                <b class="btn btn-grey-small mr-5">{{i}}</b>
                              {% endfor %}
                            </div>
                            <div class="card-2-bottom mt-30">
                              <div class="row">
                                <div class="col-lg-7 col-7">
                                  <span class="card-text-price">${{ instance.job.amnt_start_per_hrs|to_int }} - ${{ instance.job.amnt_end_per_hrs|to_int }}</span>
                                  <span class="text-muted">/hour</span>
                                </div>
                                <div class="col-lg-5 col-5 text-end">
                                  <div class="">
                                    <a class="btn btn-apply-now action-button reload" href="{% url 'users:apply_job' pk=instance.job.pk %}" data-id="{{instance.job.id}}" data-text="{{confirm_apply_message}}" data-title="Are you sure?">Apply Now</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  <!-- <div class="paginations">
                    <ul class="pager">
                      <li><a class="pager-prev" href="#"></a></li>
                      <li><a class="pager-number" href="#">1</a></li>
                      <li><a class="pager-number" href="#">2</a></li>
                      <li><a class="pager-number" href="#">3</a></li>
                      <li><a class="pager-number" href="#">4</a></li>
                      <li><a class="pager-number" href="#">5</a></li>
                      <li><a class="pager-number active" href="#">6</a></li>
                      <li><a class="pager-number" href="#">7</a></li>
                      <li><a class="pager-next" href="#"></a></li>
                    </ul>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}

{% block static %}
{% load static %}
  <link rel="stylesheet" href="{% static 'assets/css/cropper.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
  <style>
    .label {
      cursor: pointer;
    }

    .progress {
      display: none;
      margin-bottom: 1rem;
    }

    .alert {
      display: none;
    }

    .img-container img {
      max-width: 100%;
    }
    .not-visible {
      display: none;
    }
    .card-grid-2 .card-grid-2-image-left .image-box{
      min-width: 52px;
      padding-right: 0;
      max-width: 52px;
      margin-right: 15px;
      border-radius: 5px;
      overflow: hidden;
    }
    .card-grid-2 .card-grid-2-image-left .image-box img{
      display: block;
      width: 100%;
    }
  </style>
  <script src="{% static 'assets/js/cropper.js' %}"></script>
  <!-- <script src="{% static 'assets/js/cropper-main.js' %}"></script> -->
  <script>
    $(function () {
      var avatar = document.getElementById('avatar');
      var profilePic = document.getElementById('profilePic');
      var bannerProfile = document.getElementById('bannerProfile');
      var image = document.getElementById('cropImage');
      var input = document.getElementById('id_file');
      var $progress = $('.progress');
      var $progressBar = $('.progress-bar');
      var $alert = $('.alert');
      var $modal = $('#modalCrop');
      const imageForm = document.getElementById("formUpload");
      var cropper;
      // var x;
      // var y;
      const csrf = document.getElementsByName("csrfmiddlewaretoken");
     
      $('[data-toggle="tooltip"]').tooltip();

      input.addEventListener('change', function (e) {
        var files = e.target.files;
        var done = function (url) {
          input.value = '';
          image.src = url;
          $alert.hide();
          $modal.modal('show');
        };
        var reader;
        var file;
        var url;

        if (files && files.length > 0) {
          file = files[0];

          if (URL) {
            done(URL.createObjectURL(file));
          } else if (FileReader) {
            reader = new FileReader();
            reader.onload = function (e) {
              done(reader.result);
            };
            reader.readAsDataURL(file);
          }
        }
      });

      $modal.on('shown.bs.modal', function () {
        cropper = new Cropper(image, {
          aspectRatio: 1,
          viewMode: 3,
          minCropBoxWidth: 200,
          minCropBoxHeight: 200,
          crop(event) {
            // x = event.detail.x;
            // y = event.detail.y;
          },
        });
      }).on('hidden.bs.modal', function () {
        cropper.destroy();
        cropper = null;
      });

      document.getElementById('crop').addEventListener('click', function () {
        var initialAvatarURL;
        var canvas;
        
        $modal.modal('hide');

        if (cropper) {
          $progress.show();
          $alert.removeClass('alert-success alert-warning');
          canvas = cropper.getCroppedCanvas({
            width: 160,
            height: 160,
          });

          cropData = cropper.getCroppedCanvas().toBlob((blob) => {
            // {
            // width: 160,
            // height: 160,
          // }
            const formData = new FormData();
            formData.append("csrfmiddlewaretoken", csrf[0].value);
            formData.append("file", blob, "{{profile.name}}.png");

            initialAvatarURL = avatar.src;
            avatar.src = canvas.toDataURL();
            profilePic.src = canvas.toDataURL();
            bannerProfile.src = canvas.toDataURL();
      
            $.ajax({
              type: "POST",
              url: imageForm.action,
              enctype: "multipart/form-data",
              data: formData,
              xhr: function () {
                var xhr = new XMLHttpRequest();

                xhr.upload.onprogress = function (e) {
                  var percent = '0';
                  var percentage = '0%';

                  if (e.lengthComputable) {
                    percent = Math.round((e.loaded / e.total) * 100);
                    percentage = percent + '%';
                    $progressBar.width(percentage).attr('aria-valuenow', percent).text(percentage);
                  }
                };

                return xhr;
              },
              success: function () {
                // avatar.src = blob;
                $alert.show().addClass('alert-success').text('Upload success');
              },
              error: function () {
                console.log("error", error);
                avatar.src = initialAvatarURL;

                profilePic.src = initialAvatarURL;
                bannerProfile.src = initialAvatarURL;
                $alert.show().addClass('alert-warning').text('Upload error');
              },
              complete: function () {
                $progress.hide();
              },
              cache: false,
              contentType: false,
              processData: false,
            });
          });
          $progress.hide();

        }
      });
    
    });
  </script>
{% endblock %}
