{% extends "users/auth_base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
{% load static %}
<section id="login">
    <div class="left-container">
        <div class="shadow-box">
            <div class="head">
                <h2>Login</h2>
                <span class="separator"></span>
            </div>
            <form  class="ajax no-popup redirect" action="{% url 'users:enter' %}" method="post">
                {% csrf_token %}
                    <div class="form-item">
                        {{ form.phone }}
                        <label for="{{form.phone.id_for_label}}">{{form.phone.label}}</label>
                    </div>
                <div class="form-item login-button" >
                    <button type="submit">Login</button>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <div class="separator">
                <b>or</b>
            </div>   
            <div class="bottom-container">
                <a href="#" class="google-auth-button">
                    <span class="thumb icon">
                        <img src="{% static 'fonts/google.svg' %}" alt="google" />
                    </span>
                    Continue with Google
                </a>
            </div>         
        </div>
    </div>
    <div class="right-container">
        <div class="thumb">
            <!-- <img src="./images/login-bg.jpg" alt="Login image" /> -->
        </div>
    </div>
</section>
{% endblock %}